@import url("shared.css");


.lletra-gran {
    /* Vertically centers content */
    color: var(--color-one);
    font-family: "funkier_title";
    font-size: clamp(5rem, 5.3vw, 8em);
    letter-spacing: -1%;
    display: inline-block; /* required for transform */
    transform: scaleX(1.1) scaleY(2.4);  /*1.5 = 150% taller */
}
    

.work {
    margin: auto 0 auto auto;
    transform-origin: right;
}
  
.fun {
  margin: auto auto auto 0;
  transform-origin: left;
}

.fun-work {
margin: auto;
transform-origin: center;
word-wrap: normal;
}

.grid-container {
display: grid;
grid-template-columns: 1fr 2fr 1fr;
grid-template-rows: 20vh 20vh 20vh; /* 3 equal-height rows */
width: 100vw;
height: 100vh;
left: 0;
row-gap: 1vh;
column-gap: 4vh;
box-sizing: border-box;
padding: 20vh 6vw 17vw 7vw;
}

.item {
display: flex;
}

.image-box {
position: relative;
overflow: visible;
}


.overlay-text {
font-family: monospace;
font-weight: 500;
font-size: clamp(1.5rem, 1.5vmax, 2.5rem);
line-height: 1.3em;
width: 100%;
z-index: 1;
}


.geese-in {
position: fixed;
top: 45%;
left: 0%;
transform: translate(-40%, -50%);
z-index: -1;
height: 50%;
width: auto;
}

.geese-out {
position: fixed;
top: 50%;
left: 100%;
transform: translate(-40%, -50%);
z-index: -1;
height: 50%;
width: auto;
}


.presentacio-mobil {
display: none;
font-family: monospace;
font-weight: 500;
font-size: clamp(1.4rem, 1.2vmax, 2.5rem);
line-height: 1.3em;
width: 100%;
z-index: 1;
top: 0;
text-align: right;
margin-right: 2vw;
margin-bottom: 2vh;
width: 100%;
}

@media (max-width: 900px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      gap: 10px;
      padding: 8vh 4vw 2vh 4vw;
      position: absolute;
    }
  

  
    .geese-in {
      display: none;
    }
    .geese-out {
      top: 35%;
      height: 60%;
    }
    .overlay-text {
      display: none;
    }

    /* Hide unwanted items */
    .grid-container > .item:nth-child(1),
    .grid-container > .item:nth-child(2),
    .grid-container > .item:nth-child(3),
    .grid-container > .item:nth-child(7),
    .grid-container > .item:nth-child(8) {
        display: none;
    }
  
    /* Reorder visible items */
    .grid-container > .item:nth-child(4) { order: 1;} 
    .grid-container > .item:nth-child(5) { order: 2;} 
    .grid-container > .item:nth-child(6) { order: 3;}
    .grid-container > .item:nth-child(9) { order: 4;}
  
    .presentacio-mobil {
      display: block;
    }
  
    .work {
      text-align: left;
      margin: auto auto 0 0;
    }
  
    .fun {
      margin: 0 auto auto 0;
      text-align: right;
    }
  
    .fun-work {
      grid-column: auto;
      margin: auto auto auto 0;
      transform-origin: bottom;
      text-align: left;
      max-width: 100%;
    }
  
    .image-box {
      grid-row: auto;
      height: 100%; /* Set a height so the absolutely-positioned image fills it */
      width: auto;
      position: relative;
      overflow: visible;
    }

    .lletra-gran {
        transform: none;
        font-size: 30.5vw;
      }
  }
  