body {
  background-color: #ffffff;
  background-repeat: repeat-y;
  background-position: center; 
  margin: 20;
  height: 100%;
  position: relative;
}
  
h1 {
  color: #c500cc;
}

mark {
  background-color: #15eb15;
  color: black;
  padding: 0.4vmax;
}

mark:hover {
  background-color: #FF2F08;
  color: rgb(255, 255, 255);
  padding: 0.4vmax; /* Adds extra height */
}

.projecte {
  /* Vertically centers  content*/ 
  border: .3vmax solid #000000;
  background-color: #ffffff;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: .5vw;
  margin-right: .5vw;
  padding-top: .5rem;
  line-height: 150%;
  font-size: clamp(0.5rem, 5vw, 1rem);
  color: hwb(219 7% 42%);
  overflow: hidden;
}


.lletra-gran {
  /* Vertically centers  content*/
  font-family: Arial;
  font-size: clamp(5rem, 7.5vw, 10rem);
  text-align: left;
  word-spacing: 120%;
  letter-spacing: -5px;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1.4fr 1fr;
  grid-template-rows: auto auto auto; /* or just `repeat(3, auto)` */
  gap: 10px;
  padding: 20px;
}
  
.item {
  text-align: center;
}

.image-box {
  grid-row: span 2;
  position: relative;
  overflow: visible; /* Allow the image to overflow downward */
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

.overlay-text {
  position: relative; /* So it's above the image */
  z-index: 1;
  margin-top: 100px;
  color: white;
  text-align: left;
}

  