:root {
  --color-one: rgb(150, 150, 150);
  --color-two: #0519ff;
  --color-three: #FFFFE4;
  --highlight-color: #3cff00;
}

body {
  background-color: var(--color-three);
  overflow: auto;
  position: static;
  height: auto;
  touch-action: auto;
}
  
h1 {
  color: #000000;
}

h2 {
  color: #000000;
}


@font-face {
  font-family: "funky_title";
  src: url("fonts/KCWaxMuseum.otf") format("opentype");
}

@font-face {
  font-family: "funkier_title";
  src: url("fonts/KCUppercut.otf") format("opentype");
}

.inner-link {
  color: inherit;
  text-decoration: none;
}

.inner-link:hover {
  text-transform: lowercase;
  color: var(--color-one);
  z-index: 1;
}

.text-inner-link {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

.text-inner-link:hover {
  color: var(--color-one);
}


.lletra-gran {
  /* Vertically centers content */
  color: black;
  font-family: "funkier_title";
  font-size: clamp(5rem, 6vw, 9.5em);
  letter-spacing: -1%;
  display: inline-block; /* required for transform */
  transform: scaleX(1.3) scaleY(2.1);  /*1.5 = 150% taller */
}

.lletra-mitjana {
  /* Vertically centers  content*/
  font-family: "funkier_title";
  margin: 0;
  padding: 0;
  font-size: clamp(4.5rem, 5vw, 6.5rem);
  text-align: right;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.work {
  margin: auto auto auto 0;
  transform-origin: left;
}

.fun {
  margin: auto 0 auto auto;
  transform-origin: center;
}

.fun-work {
  margin: auto;
  transform-origin: right;
  word-wrap: normal;
}

.grid-container {
  display: grid;
  grid-template-columns: 18vw 44vw 20vw;
  grid-template-rows: 20vh 20vh 20vh; /* 3 equal-height rows */
  width: 100vw;
  height: 100vh;
  left: 0;
  row-gap: 1vh;
  column-gap: 4vh;
  box-sizing: border-box;
  padding: 20vh 6vw 17vw 6vw;
}
  
.item {
  display: flex;
}

.image-box {
  position: relative;
  overflow: visible;
}


.overlay-text {
  font-family: monospace;
  font-weight: 500;
  font-size: clamp(1.5rem, 1.5vmax, 2.5rem);
  line-height: 1.3em;
  width: 100%;
  z-index: 1;
}


.geese-in {
  position: fixed;
  top: 45%;
  left: 0%;
  transform: translate(-40%, -50%);
  z-index: -1;
  height: 50%;
  width: auto;
}

.geese-out {
  position: fixed;
  top: 50%;
  left: 100%;
  transform: translate(-40%, -50%);
  z-index: -1;
  height: 50%;
  width: auto;
}

.top-header {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
  z-index: 999;
}

.header-icon {
  font-size: clamp(2vmax, 3rem, 4vmax);
  color: black;
}

.top-header a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.2s;
}

.top-header a:hover {
  color: var(--color-two); /* LinkedIn blue as hover example */
}

.presentacio-mobil {
  display: none;
  font-family: monospace;
  font-weight: 500;
  font-size: clamp(1.4rem, 1.2vmax, 2.5rem);
  line-height: 1.3em;
  width: 100%;
  z-index: 1;
  top: 0;
  text-align: right;
  margin-right: 2vw;
  margin-bottom: 2vh;
  width: 100%;
}

/* GALLERY */

.gallery-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 20px;
  padding: 20px;
}

/* Title on the left */
.gallery-title {
  text-align: left;
  padding-top: 0;
  font-size: 1.2rem;
  width: 5vw;
}

/* Grid of thumbnails */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

/* Images */
.gallery-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* PROJECTS */

.title-projects-page {
  font-family: "funkier_title";
  font-size: 10vw;
  letter-spacing: -2px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: center;
}

.title-project {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: clamp(2rem, 8vmax, 5.5rem);
  letter-spacing: -2px;
  margin: 2vh auto 1vh auto;
  padding: 1vh auto 0.5vh auto;
  text-align: left;
  text-transform: uppercase;
}

.title-snapshots {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 3vmax, 2.5rem);
  letter-spacing: 0px;
  margin: 2vh auto 1vh auto;
}

.projecte {
  /* Vertically centers  content*/
  border: .7vmax solid black;
  border-radius: 20px;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 10vh;
  padding-top: .5rem;
  padding-bottom: 1rem;
  color: hwb(219 7% 42%);
}

.project-description {
  line-height: 130%;
  font-family: monospace;
  font-size: clamp(12px, 1.7rem, 10vw);
  color: #000000;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 1vh 3vh 0.5vh 3vh;
  margin: 1vh 0 0.5vh 0;
}

.project-thumbnail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3vh;
  gap: 10px;
}

/* Images */
.project-thumbnail-container img {
  width: 100%;
  height: auto;
  display: block;
}

.three-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
  padding: 0;
  width: 25%; 
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  padding: 0.5rem;
  font-size: clamp(1rem, 4vmax, 3rem);
}

.icon-column a {
  text-decoration: none;
  color: var(--color-two);
}

.icon-column a:hover {
  color: var(--color-one);
}

mark {
  font-family: monospace;
  letter-spacing: 0px;
  color: white;
  background-color: var(--color-two);
  padding: 0.2vmax;
}



@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 0.7fr 2fr;
    gap: 5px;
    padding: 5vh 4vw 2vh 4vw;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    position: absolute;
  }

  /* Hide unwanted items */
  .grid-container > .item:nth-child(1),
  .grid-container > .item:nth-child(2),
  .grid-container > .item:nth-child(3),
  .grid-container > .item:nth-child(7),
  .grid-container > .item:nth-child(8) {
    display: none;
  }

  .geese-in {
    display: none;
  }
  .geese-out {
    top: 35%;
    height: 60%;
  }
  .overlay-text {
    display: none;
  }

  /* Reorder visible items */
  .grid-container > .item:nth-child(4) { order: 1;} 
  .grid-container > .item:nth-child(5) { order: 2;} 
  .grid-container > .item:nth-child(6) { order: 3;}
  .grid-container > .item:nth-child(9) { order: 4;}

  .presentacio-mobil {
    display: block;
  }

  .work {
    text-align: right;
    margin: 0 0 auto auto;
  }

  .fun {
    margin: auto auto 0 0;
    text-align: center;
  }

  .fun-work {
    grid-column: auto;
    margin: auto 0 auto 0;
    transform-origin: bottom;
    text-align: left;
    max-width: 100%;
  }

  .image-box {
    grid-row: auto;
    height: 100%; /* Set a height so the absolutely-positioned image fills it */
    width: auto;
    position: relative;
    overflow: visible;
  }



  .lletra-gran {
    transform: none;
    font-size: 17.5vh;
  }

  .gallery-title {
    width: 20vw;
  }

  .title-projects-page {
    font-size: 18vw;
    margin-bottom: 5vh;
    text-align: left;
  }

  .title-project {
    font-size: clamp(1.5rem, 6vmax, 4rem);
  }

  .projecte {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    border: .8vmax solid black;
  }

  .project-thumbnail-container {
    grid-template-columns: 1fr;
    row-gap: 30px; /* More space between rows */
  }

  .project-description {
    text-align: left;
    font-size: clamp(12px, 1.3rem, 9vw);
    padding: 1vh 1vh 0.5vh 1vh;
  }

  .column {
    padding: 0.1rem;
    font-size: 3.3vh;
  }

  .three-column-layout {
    width: 60%; 
  }
}
